.section-container {
    margin: 50px;
}
.section {
    margin: auto;
    margin-top: 20px;
    background-color: #ebebeb;
    border-radius: 4px;
}
.section-header {
    padding: 20px;
}
.section-content {
    padding: 20px;
    line-height: 38px;
}
.add-content-button {
    background-color: rgb(168, 167, 167);
    color: white;
    padding: 5px;
    border: none;
    border-top-right-radius: 4px;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
}