<!-- Show navigation bar when the user has logged in.-->
<nav *ngIf="isLoggedIn()">
    <ul>
        <li>
            <a routerLink="/profile">
                <span class="material-icons">face</span>
            </a>
        </li>
        <li>
            <a>
                <span class="material-icons">contacts</span>
            </a>
        </li>
        <li>
            <a>
                <span class="material-icons">supervisor_account</span>
            </a>
        </li>
        <li>
            <a>
                <span class="material-icons">contact_support</span>
            </a>
        </li>
    </ul>
    <ul id="bottom-nav">
        <!-- <li *ngIf="!isLoggedIn()"><a routerLink="/login">Sign-In</a></li> -->
        <li *ngIf="isLoggedIn()" (click)="logout()">
            <a routerLink="/login">
                <span class="material-icons">login</span>
            </a>
        </li>
    </ul>
</nav>