.form-container {
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

header {
    padding: 30px;
}

form {
    text-align: center;
}

.signin-link {
    margin: 30px;
    color: #333;
    text-decoration: none;
}
.signin-link:hover {
    color: black;
}